.presentacion {
    display: flex;
	flex-direction: column;
	width: 75%;
    justify-content: center;
	color: rgb(77, 1, 77);
    white-space: nowrap;
    height: 50vh;

}

.titulo-presentacion {
	font-weight: 800;
	text-transform: uppercase;
    font-size: 2.3em;
}

.nombreapellido span {
	text-transform: uppercase;
	font-weight: 900;
    font-size: 2.35em;
}

.texto-presentacion {
	font-weight: 600;
	font-size: 1.4em;
}

.img-personal {
    width: 55%;
    border-radius: 50%;
}
